{% include directory ~ '/templates/pages/partials/header.html.twig' %}

         <div id="base-bg"></div>
         <div id="burger-container">
            <div class="background-styles">
               <div class="site-default-gradient">
                  <div class="safety-color"></div>
               </div>
               <div class="body-bg">
                  <div class="safety-color"></div>
                  <div class="main"></div>
                  <div class="color-fade"></div>
               </div>
               <div id="takeover-colors" class="takeover-area">
                  <div class="overlay default">
                     <div class="safety-color">
                        <div class="color-block"></div>
                     </div>
                     <div class="main-color"></div>
                     <div class="repeating repeating-color"></div>
                     <div class="fade-out"></div>
                  </div>
                  <div class="overlay module-override">
                     <div class="safety-color">
                        <div class="color-block"></div>
                     </div>
                     <div class="main-color"></div>
                     <div class="repeating repeating-color"></div>
                     <div class="fade-out"></div>
                  </div>
               </div>
            </div>
            <div id="nav-body">
               <div id="main" style="">
                  <article id="burger" class="">
                     <section class="module background_styles transparent primary-theme light" id="ref-0-1" data-module="background_styles">
                        <div class="background-styles">
                           <div id="takeover-images" class="takeover-area">
                              <div class="overlay default">
                                 <div class="repeating repeating-image"></div>
                                 <div class="main-image"></div>
                              </div>
                              <div class="overlay module-override">
                                 <div class="repeating repeating-image"></div>
                                 <div class="main-image"></div>
                              </div>
                           </div>
                        </div>
                     </section>
                     <section class="module flex_content_hero flex-content-hero-view full-height full-width skip-bottom-border skip-top-border no-top-padding no-bottom-padding no-left-padding no-right-padding preserve-padding span-full-screen content-span-full-screen primary-theme light" id="ref-1-0" data-module="flex_content_hero" data-module-name="EMEA Hero Banner">
                        <div class="bound">
                           <div class="carousel" style="">
                              <ul class="slides">
                                 <li class="slide" data-title="Find out more about Raya and the Last Dragon" data-link_cta_index="Find out more about Raya and the Last Dragon" data-cto-title="Top_Raya_In Cinemas Homepage v1_" data-cto-category="rld-1">
                                    <div class="image-wrapper background-image">
                                       <div class="aspect" style="padding-bottom: 41.75%;"> <a href="../raya-and-the-last-dragon" title="Close up image of Raya" class="ada-el-focus">  <img tabindex="0" data-src="https://lumiere-a.akamaihd.net/v1/images/image_1302afc6.jpeg?region=0,0,2048,878&width=1536" id="ref-1-0--img--idx-0" alt="Close up image of Raya" data-width="2000" data-height="835" data-aspect_ratio="0.4175" data-orientation="landscape" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/eu_rld-1_v1_hero_r_c56b0a8e.jpeg?region=0,0,2000,835&amp;width=1536"> <span class="gradient-overlay  content-left content-middle"></span>   </a> </div>
                                    </div>
                                    <div class="content-overlay   content-left content-middle  text-center   text-light ">
                                       <div class="content-body">
                                          <div class="content-details" style="max-width: 36%;">
                                             <a href="../raya-and-the-last-dragon" title="Find out more about Raya and the Last Dragon">
                                                <div class="content-title">
                                                   <h1> <img class="logo-title" data-src="https://lumiere-a.akamaihd.net/v1/images/en_rld-1_lg_r_2x_583399d3.png?region=0,0,1000,320" alt="Raya and the Last Dragon logo" tabindex="0" style="width:500px" data-width="1000" data-height="320" data-aspect_ratio="0.32" data-orientation="landscape" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/en_rld-1_lg_r_2x_583399d3.png?region=0,0,1000,320">  </h1>
                                                </div>
                                                <div class="content-description">
                                                   <p>In Cinemas Now</p>
                                                </div>
                                             </a>
                                             <p class="cta-links-container text-center  " data-cta-type="button">   <span class="cta-item"> <span class="btn-container">  <a href="../raya-and-the-last-dragon" class="button large blue cta-link ada-el-focus    " role="button" aria-label="Find out more about Raya and the Last Dragon">  FIND OUT MORE </a> </span> </span>  </p>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </section>
                     <section class="module flex_grid flex-grid-view skip-bottom-border skip-top-border tight-bottom-padding equal large-left content-spaced preserve-padding span-full-screen content-span-full-screen primary-theme light" id="ref-1-1" data-module="flex_grid" data-title="Latest from Disney" data-module-name="EMEA Feature Grid">
                        <style type="text/css"> .flex-grid-view[id="ref-1-1"] .wrapper{ -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); } </style>
                        <div class="bound has-module-header">
                           <div class="module_header_container">
                              <div class="module_header no-desc">
                                 <div class="title">
                                    <h2>  <span>Latest from Disney</span>    </h2>
                                 </div>
                              </div>
                           </div>
                           <ul class="wrapper" data-content-count="2">
                              <li data-title="Soul, in Cinemas " data-cto-title="Feat_Soul_In cinemas Homepage_Wide" data-cto-category="sou-1" data-link_cta_index="Soul, in Cinemas ">
                                 <div class="item-container  text-left text-align-left    text-light  " data-ui-light="">
                                    <div class="item entity-box">
                                       <div class="aspect-container">
                                          <div class="aspect" style="padding-bottom:50.0%;">
                                             <a href="../soul" aria-label="Close up image Soul" title="Soul, in Cinemas " class="ada-el-focus">
                                                <div class="background-image"> <img class="" data-src="https://lumiere-a.akamaihd.net/v1/images/eu_sou-1_v1_wi_r_9303ddf2.jpeg?region=0,0,1600,800" alt="Close up image Soul" data-width="1600" data-height="800" data-aspect_ratio="0.5" data-orientation="landscape" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/eu_sou-1_v1_wi_r_9303ddf2.jpeg?region=0,0,1600,800&amp;width=768">  </div>
                                             </a>
                                          </div>
                                       </div>
                                       <div class="details-container" style=" max-width: 100%;   ">
                                          <a class="skip-link-style ada-el-focus" href="../soul" title="Soul, in Cinemas ">
                                             <div class="title">
                                                <h2>Soul</h2>
                                             </div>
                                          </a>
                                          <div class="cta-items-container">
                                             <ul class="link-container">
                                                <li class="">  <a href="../soul" class="link ada-el-focus skip-link-style">  <span aria-label="Find out more about Soul">FIND OUT MORE</span>  </a>  </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li data-title="Find out where to purchase Onward" data-cto-title="Feat_Onward_Home Ents All_Wide" data-cto-category="onw-1" data-link_cta_index="Find out where to purchase Onward">
                                 <div class="item-container  text-left text-align-left    text-light  " data-ui-light="">
                                    <div class="item entity-box">
                                       <div class="aspect-container">
                                          <div class="aspect" style="padding-bottom:50.0%;">
                                             <a href="../onward" aria-label="Stills from Onward displayed on a TV, laptop, tablet and mobile" title="Find out where to purchase Onward" class="ada-el-focus">
                                                <div class="background-image"> <img class="" data-src="https://lumiere-a.akamaihd.net/v1/images/eu_onward_home-ents_without-disc_wi_v2_r_5de900e5.jpeg?region=0,0,960,480" alt="Stills from Onward displayed on a TV, laptop, tablet and mobile" data-width="960" data-height="480" data-aspect_ratio="0.5" data-orientation="landscape" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/eu_onward_home-ents_without-disc_wi_v2_r_5de900e5.jpeg?region=0,0,960,480&amp;width=768">  </div>
                                             </a>
                                          </div>
                                       </div>
                                       <div class="details-container" style=" max-width: 50%;   ">
                                          <a class="skip-link-style ada-el-focus" href="../onward" title="Find out where to purchase Onward">
                                             <div class="title">
                                                <h2>Onward</h2>
                                             </div>
                                          </a>
                                          <div class="cta-items-container">
                                             <ul class="link-container">
                                                <li class="">  <a href="../onward" class="link ada-el-focus skip-link-style">  <span aria-label="Find out where to purchase Onward">Now Available</span>  </a>  </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </section>
                     <section class="module incredibles_slider slider-view pagination-styles header-center no-border span-full-screen content-span-full-screen primary-theme light" id="ref-1-2" data-module="incredibles_slider" data-title="Movies">
                        <div class="bound movie movie">
                           <div class="module_header_container">
                              <div class="module_header no-desc">
                                 <div class="title">
                                    <h2>  <span>Movies</span>    </h2>
                                 </div>
                              </div>
                           </div>
                           <div class="slides peek-5">
                              <ol class="slider-list peek-5" aria-live="polite" style="z-index: 1; position: relative; overflow: hidden;">
                                 <li class="slider-page" data-slide-state="active" aria-hidden="false" aria-roledescription="slide" aria-label="undefined | 1 of 1" style="display: block; position: relative; width: 100%; height: 100%; left: 0%; right: auto; top: 0px; opacity: 1; transition-property: transform, visibility; transition-duration: 0ms, 0ms; transition-delay: 0ms, 0ms; visibility: visible; transform: translate3d(0%, 0px, 0px);">
                                    <ul class="col-container cols-5 rows-1">
                                       <li class="col item">
                                          <div class="entity-container entity-type-movie  ratio-poster links-out corners-default   show-details      ">
                                             <div class="entity-mask">
                                                <a href=" ../luca" data-core-id="5af57b58e1b0ffe708eccafd" class="entity-link outer-link" aria-label="Luca" data-title="Luca" tabindex="0">
                                                   <div class="movie-box entity-box  thumb-border    ">
                                                      <div class="aspect">         <img class="thumb" alt="Luca" data-src="https://lumiere-a.akamaihd.net/v1/images/image_2ff75a5c.jpeg" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/image_2ff75a5c.jpeg">          </div>
                                                   </div>
                                                </a>
                                                <div class="entity-details    text-left  ">
                                                   <a href="../luca" class="entity-link title-link show-details" data-title="Luca" tabindex="-1">
                                                      <h3 class="title no_focus"> <span>  Luca    </span> </h3>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="col item">
                                          <div class="entity-container entity-type-movie  ratio-poster links-out corners-default   show-details      ">
                                             <div class="entity-mask">
                                                <a href=" ../cruella" data-core-id="590161bb9720b28e93c3394f" class="entity-link outer-link" aria-label="Cruella" data-title="Cruella" tabindex="0">
                                                   <div class="movie-box entity-box  thumb-border    ">
                                                      <div class="aspect">         <img class="thumb" alt="Cruella" data-src="https://lumiere-a.akamaihd.net/v1/images/image_7ff71125.jpeg" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/image_7ff71125.jpeg">          </div>
                                                   </div>
                                                </a>
                                                <div class="entity-details    text-left  ">
                                                   <a href="../cruella" class="entity-link title-link show-details" data-title="Cruella" tabindex="-1">
                                                      <h3 class="title no_focus"> <span>  Cruella    </span> </h3>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="col item">
                                          <div class="entity-container entity-type-movie  ratio-poster links-out corners-default   show-details      ">
                                             <div class="entity-mask">
                                                <a href=" ../raya-and-the-last-dragon" data-core-id="59142ac399fd7f93b1f27b07" class="entity-link outer-link" aria-label="Raya And The Last Dragon" data-title="Raya And The Last Dragon" tabindex="0">
                                                   <div class="movie-box entity-box  thumb-border    ">
                                                      <div class="aspect">         <img class="thumb" alt="Raya And The Last Dragon" data-src="https://lumiere-a.akamaihd.net/v1/images/image_792f778b.jpeg" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/image_792f778b.jpeg">          </div>
                                                   </div>
                                                </a>
                                                <div class="entity-details    text-left  ">
                                                   <a href="../raya-and-the-last-dragon" class="entity-link title-link show-details" data-title="Raya And The Last Dragon" tabindex="-1">
                                                      <h3 class="title no_focus"> <span>  Raya And The Last Dragon    </span> </h3>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="col item">
                                          <div class="entity-container entity-type-movie  ratio-poster links-out corners-default   show-details      ">
                                             <div class="entity-mask">
                                                <a href=" ../soul" data-core-id="58bb3542b7416c66569c2da8" class="entity-link outer-link" aria-label="Soul" data-title="Soul" tabindex="0">
                                                   <div class="movie-box entity-box  thumb-border    ">
                                                      <div class="aspect">         <img class="thumb" alt="Soul" data-src="https://lumiere-a.akamaihd.net/v1/images/p_soul_nologo_19732_ad3a59bf.jpeg" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/p_soul_nologo_19732_ad3a59bf.jpeg">          </div>
                                                   </div>
                                                </a>
                                                <div class="entity-details    text-left  ">
                                                   <a href="../soul" class="entity-link title-link show-details" data-title="Soul" tabindex="-1">
                                                      <h3 class="title no_focus"> <span>  Soul    </span> </h3>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="col item">
                                          <div class="entity-container entity-type-movie  ratio-poster links-out corners-default   show-details      ">
                                             <div class="entity-mask">
                                                <a href=" ../black-widow" data-core-id="58efc00e58274e438f66df5c" class="entity-link outer-link" aria-label="Black Widow" data-title="Black Widow" tabindex="0">
                                                   <div class="movie-box entity-box  thumb-border    ">
                                                      <div class="aspect">         <img class="thumb" alt="Black Widow" data-src="https://lumiere-a.akamaihd.net/v1/images/image_e90e2bc3.jpeg" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/image_e90e2bc3.jpeg">          </div>
                                                   </div>
                                                </a>
                                                <div class="entity-details    text-left  ">
                                                   <a href="../black-widow" class="entity-link title-link show-details" data-title="Black Widow" tabindex="-1">
                                                      <h3 class="title no_focus"> <span>  Black Widow    </span> </h3>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </li>
                              </ol>
                              <div class="peek"></div>
                           </div>
                        </div>
                     </section>
                     <section class="module rich_text rich-text-view no-bottom-padding header-left preserve-padding span-full-screen primary-theme light cols-1" id="ref-1-3" data-module="rich_text">
                        <div class="bound">
                           <div class="rich-text-container">
                              <div class="rich_text_body rich-text-enabled">
                                 <div class="rich-text-output">
                                    <h2 style="text-align: center;">Parks</h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </section>
                     <section class="module flex_content_hero flex-content-hero-view full-height full-width skip-bottom-border skip-top-border tight-top-padding default-bottom-padding default-left-padding default-right-padding preserve-padding span-full-screen content-span-full-screen primary-theme light" id="ref-1-4" data-module="flex_content_hero" data-module-name="EMEA Hero Banner">
                        <div class="bound">
                           <div class="carousel" style="">
                              <ul class="slides">
                                 <li class="slide" data-title="Reopening Disneyland速 Paris" data-link_cta_index="Reopening Disneyland速 Paris" data-cto-title="Mid_Disneyland Paris_December promoHomepage_" data-cto-category="dlrp">
                                    <div class="image-wrapper background-image">
                                       <div class="aspect" style="padding-bottom: 28.0%;"> <a href="https://www.disneylandparis.com/en-int/?country=za&amp;?ecid=PART_NO_A_0312ced1-dc0b-48e3-a466-6be597b364e1" title="Sleeping Beauty's Castle" class="ada-el-focus">  <img tabindex="0" data-src="https://lumiere-a.akamaihd.net/v1/images/dlp_holiday-2021_short-hero_r_4acfe7d2.jpeg?region=0,0,3200,896&amp;width=1536" id="ref-1-4--img--idx-0" alt="Sleeping Beauty's Castle" data-width="3200" data-height="896" data-aspect_ratio="0.28" data-orientation="landscape" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/dlp_holiday-2021_short-hero_r_4acfe7d2.jpeg?region=0,0,3200,896&amp;width=1536"> <span class="gradient-overlay  content-left content-middle"></span>   </a> </div>
                                    </div>
                                    <div class="content-overlay   content-left content-middle  text-center   text-light ">
                                       <div class="content-body">
                                          <div class="content-details" style="max-width: 36%;">
                                             <a href="https://www.disneylandparis.com/en-int/?country=za&amp;?ecid=PART_NO_A_0312ced1-dc0b-48e3-a466-6be597b364e1" title="Reopening Disneyland速 Paris">
                                                <div class="content-title">
                                                   <h2> <img class="logo-title" data-src="https://lumiere-a.akamaihd.net/v1/images/eu_dlp-white_lg_r_2x_4ceb595d.png?region=0,0,1000,320" alt="Disneyland速 Paris " tabindex="0" style="width:500px" data-width="1000" data-height="320" data-aspect_ratio="0.32" data-orientation="landscape" data-legacy="true" src="https://lumiere-a.akamaihd.net/v1/images/eu_dlp-white_lg_r_2x_4ceb595d.png?region=0,0,1000,320">  </h2>
                                                </div>
                                                <div class="content-description">
                                                   <p>There's no magic without you</p>
                                                </div>
                                             </a>
                                             <p class="cta-links-container text-center  " data-cta-type="link">  <span class="cta-item"> <span> <a href="https://www.disneylandparis.com/en-int/?country=za&amp;?ecid=PART_NO_A_0312ced1-dc0b-48e3-a466-6be597b364e1" class="cta-link   " aria-label="FIND OUT MORE">FIND OUT MORE</a> </span> </span>   </p>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </section>
                     <section class="module rich_text rich-text-view no-bottom-padding header-left preserve-padding span-full-screen content-span-full-screen primary-theme light cols-1" id="ref-1-5" data-module="rich_text">
                        <div class="bound">
                           <div class="rich-text-container">
                              <div class="rich_text_body rich-text-enabled">
                                 <div class="rich-text-output">
                                    <p style="text-align: center; font-size: 18px; line-height: 32px;">Follow Disney on:<br><a href="https://www.facebook.com/DisneyinAfrica">
                                       <img border="0" alt="facebook" src="https://lumiere-a.akamaihd.net/v1/images/icon_social_facebook_dark_9d7616bf.svg" width="32" height="32"></a>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </section>
                     <div class="overlay"></div>
                     <style class="module_styles" type="text/css">
                        <!-- /* background_styles module 0-1 */ -->           <!-- /* flex_content_hero module 1-0 */ -->           <!-- /* flex_grid module 1-1 */ -->    #ref-1-1{ background-color: #F1F2F3; background-image: none; }          <!-- /* incredibles_slider module 1-2 */ -->    #ref-1-2{ background-color: #F1F2F3; background-image: none; }       @media screen and (min-width: 680px){  #ref-1-2{ background-repeat: no-repeat; }   #ref-1-2{ background-size: 100% auto; }  }        <!-- /* rich_text module 1-3 */ -->    #ref-1-3{ background-color: #F1F2F3; background-image: none; }            <!-- /* flex_content_hero module 1-4 */ -->    #ref-1-4{ background-color: #F1F2F3; background-image: none; }          <!-- /* rich_text module 1-5 */ -->            
                     </style>
                  </article>
                  <!-- pageview_candidate comscorekw= -->
               </div>
            </div>

{% include  directory ~  '/templates/pages/partials/footer.html.twig' %}